

#whatwedo .vt-container {
}
#highlight .vt-box {
    background-color: transparent;
    transition: color .5s, background-color .5s;
}
.vt-box h2 {
    font-weight: 900;
}
.vt-box p {
    font-weight: 100;
}
.vt-box h2,
.vt-box p {
    color: rgba(205, 205, 205, 1.0);
    color: rgba(205, 205, 205, 1.0);
    
}
    

@media screen and (min-width: 320px)  {
    #highlight .vt-box {
        flex: 0 32%;    
        padding: 20px 0px;
        text-align: center;
    }
    .vt-box h2 {
        font-size: 36px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 5px;
    }
    .vt-box p {
        font-size: 10px;
        letter-spacing: 1.5px;
        margin-top: 5px !important;
    }
}
@media screen and (min-width: 375px)  {
    #highlight .vt-box {
        flex: 0 32%;    
        padding: 20px 0px;
        text-align: center;
    }
    .vt-box h2 {
        font-size: 42px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 5px;
    }
    .vt-box p {
        font-size: 14px;
        letter-spacing: 1.5px;
        margin-top: 5px !important;
    }
}
@media screen and  (min-width: 600px)  { 
    #highlight .vt-box {
        flex: 0 32%;    
        padding: 20px 0px;
        text-align: center;
    }
    .vt-box h2 {
        font-size: 42px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 5px;
    }
    .vt-box p {
        font-size: 14px;
        letter-spacing: 1.5px;
        margin-top: 5px !important;
    }
}
@media screen and  (min-width: 1024px)  { 
    #highlight .vt-box {
        flex: 0 32%;    
        padding: 20px 0px;
        text-align: center;
    }
    .vt-box h2 {
        font-size: 64px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 5px;
    }
    .vt-box p {
        font-size: 30px;
        letter-spacing: 1.5px;
        margin-top: 5px !important;
    }
}
@media screen and  (min-width: 1440px)  { 
    #highlight .vt-box {
        flex: 0 32%;    
        padding: 20px 0px;
        text-align: center;
    }
    .vt-box h2 {
        font-size: 72px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 5px;
    }
    .vt-box p {
        font-size: 34px;
        letter-spacing: 1.5px;
        margin-top: 5px !important;
    }
}